* {
  margin: 0;
  padding: 0;
}

#bs-example-navbar-collapse-2 {
  /* background-color: black; */
  height: 100%;
  text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#nav_bottom_btn_1,#nav_bottom_btn_2,#nav_bottom_btn_3 {
  margin-left: 40px;
  margin-right: 40px;
}