{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div>
            <div class="jumbotron">
                <h1 style="padding-left: 55px;">Welcome!</h1>
                <img alt="Brand" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"
                    style="padding-left: 40px;">
                {% if user.is_authenticated %}
                {% else %}
                <p style="padding-left: 40px;">Please Log In</p>
                <p style="padding-left: 45px;"><a class="btn btn-primary btn-lg" href="{% url 'rango:login' %}"
                        role="button">Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">All Categories</div>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>

                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div>
            <button type="button" class="btn btn-default"><a href="{% url 'rango:add_category' %}">Add New
                    Category</a></button>
        </div>
    </div>
    <div class="col-md-1"></div>

   

    {% endblock %}